*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  display: grid;
  place-items: center;
}

#root {
  text-align: center;
}

.highlighted {
  background-color: red;
  color: white;
}

.card button {
  background: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid black;
  margin: 5px;
}